@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
    --font-mono: JetBrains Mono, ui-monospace, monospace;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
    --font-serif: Source Serif 4, ui-serif, serif;
    --radius: 0.5rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    --tracking-normal: var(--tracking-normal);
    --shadow-2xl: var(--shadow-2xl);
    --shadow-xl: var(--shadow-xl);
    --shadow-lg: var(--shadow-lg);
    --shadow-md: var(--shadow-md);
    --shadow: var(--shadow);
    --shadow-sm: var(--shadow-sm);
    --shadow-xs: var(--shadow-xs);
    --shadow-2xs: var(--shadow-2xs);
    --spacing: var(--spacing);
    --letter-spacing: var(--letter-spacing);
    --shadow-offset-y: var(--shadow-offset-y);
    --shadow-offset-x: var(--shadow-offset-x);
    --shadow-spread: var(--shadow-spread);
    --shadow-blur: var(--shadow-blur);
    --shadow-opacity: var(--shadow-opacity);
    --color-shadow-color: var(--shadow-color);
    --color-destructive-foreground: var(--destructive-foreground);
    --primary: var(--primary);
}

:root {
    --radius: 0.5rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.2077 0.0398 265.7549);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.2077 0.0398 265.7549);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.2077 0.0398 265.7549);
    --primary: #2563eb;
    --primary-foreground: oklch(0.9842 0.0034 247.8575);
    --secondary: oklch(0.9683 0.0069 247.8956);
    --secondary-foreground: oklch(0.4455 0.0374 257.2808);
    --muted: oklch(0.9683 0.0069 247.8956);
    --muted-foreground: oklch(0.4455 0.0374 257.2808);
    --accent: oklch(0.9683 0.0069 247.8956);
    --accent-foreground: oklch(0.2077 0.0398 265.7549);
    --destructive: oklch(0.5771 0.2152 27.325);
    --border: oklch(0.9288 0.0126 255.5078);
    --input: oklch(0.9288 0.0126 255.5078);
    --ring: oklch(0.5461 0.2152 262.8809);
    --chart-1: oklch(0.5461 0.2152 262.8809);
    --chart-2: oklch(0.7137 0.1434 254.624);
    --chart-3: oklch(0.7952 0.1617 86.0468);
    --chart-4: oklch(0.6268 0.2325 303.9004);
    --chart-5: oklch(0.645 0.2154 16.4393);
    --sidebar: oklch(1 0 0);
    --sidebar-foreground: oklch(0.4455 0.0374 257.2808);
    --sidebar-primary: oklch(0.5461 0.2152 262.8809);
    --sidebar-primary-foreground: oklch(0.9842 0.0034 247.8575);
    --sidebar-accent: oklch(0.9683 0.0069 247.8956);
    --sidebar-accent-foreground: oklch(0.2077 0.0398 265.7549);
    --sidebar-border: oklch(0.9288 0.0126 255.5078);
    --sidebar-ring: oklch(0.5461 0.2152 262.8809);
    --destructive-foreground: oklch(0.9842 0.0034 247.8575);
    --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Source Serif 4, ui-serif, serif;
    --font-mono: JetBrains Mono, ui-monospace, monospace;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.1;
    --shadow-blur: 10px;
    --shadow-spread: -2px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 5px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --spacing-header: 4rem;
    --spacing-screen-header: calc(100vh - var(--spacing-header));
    --shadow-2xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
    --shadow: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
    --shadow-md: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 2px 4px -3px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 4px 6px -3px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 8px 10px -3px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
}

.dark {
    --background: oklch(0.1288 0.0406 264.6952);
    --foreground: oklch(0.9842 0.0034 247.8575);
    --card: oklch(0.1288 0.0406 264.6952);
    --card-foreground: oklch(0.9842 0.0034 247.8575);
    --popover: oklch(0.1288 0.0406 264.6952);
    --popover-foreground: oklch(0.9842 0.0034 247.8575);
    --primary: oklch(0.5461 0.2152 262.8809);
    --primary-foreground: oklch(0.9842 0.0034 247.8575);
    --secondary: #1e293b;
    --secondary-foreground: #f8fafc;
    --muted: oklch(0.2795 0.0368 260.031);
    --muted-foreground: #94a3b8;
    --accent: oklch(0.2795 0.0368 260.031);
    --accent-foreground: oklch(0.9842 0.0034 247.8575);
    --destructive: oklch(0.3958 0.1331 25.723);
    --border: oklch(0.2795 0.0368 260.031);
    --input: oklch(0.2795 0.0368 260.031);
    --ring: oklch(0.6231 0.188 259.8145);
    --chart-1: oklch(0.5461 0.2152 262.8809);
    --chart-2: oklch(0.6847 0.1479 237.3225);
    --chart-3: oklch(0.6271 0.1699 149.2138);
    --chart-4: oklch(0.7686 0.1647 70.0804);
    --chart-5: oklch(0.5771 0.2152 27.325);
    --sidebar: oklch(0.1288 0.0406 264.6952);
    --sidebar-foreground: oklch(0.7107 0.0351 256.7878);
    --sidebar-primary: oklch(0.5461 0.2152 262.8809);
    --sidebar-primary-foreground: oklch(0.9842 0.0034 247.8575);
    --sidebar-accent: oklch(0.2795 0.0368 260.031);
    --sidebar-accent-foreground: oklch(0.9842 0.0034 247.8575);
    --sidebar-border: oklch(0.2795 0.0368 260.031);
    --sidebar-ring: oklch(0.6231 0.188 259.8145);
    --destructive-foreground: oklch(0.9842 0.0034 247.8575);
    --radius: 0.5rem;
    --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Source Serif 4, ui-serif, serif;
    --font-mono: JetBrains Mono, ui-monospace, monospace;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.1;
    --shadow-blur: 10px;
    --shadow-spread: -2px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 5px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
    --shadow: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
    --shadow-md: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 2px 4px -3px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 4px 6px -3px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 8px 10px -3px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.25);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        letter-spacing: var(--tracking-normal);
    }
}
